<%if (page == "openings"){ %>

<div style="height: 60px; " class="additional-links">

    <div class="container py-2">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"><a href="https://www.pharmacy.umaryland.edu/academics/psc/">PSC for PHD Students</a>
                    </th>
                    <th scope="col"><a href="https://graduate.umaryland.edu/Program-Explorer/biochemistry/">Graduate
                            Program</a></th>
                    <th scope="col"><a href="https://www.pharmacy.umaryland.edu/admissions/psc/internship/">Summer
                            Internship Program</a></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<%} else { %>
<div class="container justify-content">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <a href="https://www.umaryland.edu/"><img class="picture-link-2"
                    src="https://cdn.freebiesupply.com/logos/thumbs/2x/university-of-maryland-logo.png" alt="">
            </a>
        </div>
        <div class="col-md-6">
            <a href="https://www.pharmacy.umaryland.edu/"><img class="picture-link text-center"
                    src="https://www.pharmacy.umaryland.edu/media/SOP/wwwpharmacyumarylandedu/templates/2017/images/umsop-logo.png"
                    alt="">
            </a>
        </div>
    </div>
</div>

<% } %>