<footer class="footer">
    <div class="container footer-container">
            <div class="row justify-content-md-center text-center">
                <div class="col-md-4">
                    <a href="https://www.pharmacy.umaryland.edu/"><img class="picture-link text-center" src="https://www.pharmacy.umaryland.edu/media/SOP/wwwpharmacyumarylandedu/templates/2017/images/umsop-logo.png" alt="">
                    </a>
                </div>
                <div class="col-md-4">
                    <p style="margin: 0 auto;">© 2007-2021 Shen Lab at U Maryland
                    </p>
                </div>
                <div class="col-md-4">
                    <a href="https://www.umaryland.edu/"><img class="picture-link-2 text-center" src="/images/CADD.png" alt="">
                    </a>
                </div>
                
                
            </div>
    </div>


</footer>