<html>

<head>
    <%- include ('./partials/header.ejs') %>
    <title>Contact</title>
</head>
<%- include ('./partials/navbar.ejs') %>

<body class="contact">
    <h3 class="text-center red-color">Contact</h3>
    <div class="container contact-container">
        <div class="row">
            <div class="col-md-6">
                <div class="card contact-card" style="width: 100%; height: 460px;">
                    <div class="card-body">
                        <h5 class="card-title">Dr. Jana Shen</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Department of Pharmaceutical Sciences</h6>
                        <p class="card-text">
                            Computer-Aided Drug Design Center
                            <br>
                            University of Maryland School of Pharmacy
                            <br>
                            20 Penn St, Baltimore, MD 21201
                            <br>
                            HSF II room 555 (office)
                            <br>
                            HSF II room 612 (lab)
                        </p>
                        <i class="fas fa-envelope"></i><a href="mailto:jana.shen@rx.umaryland.edu"
                            class="card-link"> Email</a>
                        <br>
                        <i class="fab fa-twitter"></i><a href="https://twitter.com/janashenlab?lang=en"
                            class="card-link"> Twitter @JanaShenLab</a>
                        <br>
                        <i class="fas fa-phone"></i><a href="#" class="card-link"> (410) 706-4187 (Office)</a>
                        <br>
                        <i class="fas fa-phone"></i><a href="#" class="card-link"> (410) 706-2971 (Lab)</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 contact-form">
                <h3 class="thanks" style="display: none">Thank you, your request has been receieved.</h3>
                <form id="contact-form" method="POST">
                    <div class="messages">
                        <div>
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="form_name">Name *</label>
                                            <input id="form_name" type="text" name="name" class="form-control"
                                                placeholder="Please enter your firstname *" required="required"
                                                data-error="Firstname is required.">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="form_email">Email *</label>
                                            <input id="form_email" type="email" name="_replyto" class="form-control"
                                                placeholder="Please enter your email *" required="required"
                                                data-error="Valid email is required.">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="form_subject">Subject *</label>
                                            <input id="form_subject" type="text" name="_subject" class="form-control"
                                                placeholder="Please enter a subject *" required="required"
                                                data-error="Valid email is required.">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="form_message">Message *</label>
                                            <textarea id="form_message" name="message" class="form-control"
                                                placeholder="Message for me *" rows="4" required="required"
                                                data-error="Please, leave us a message."></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-send submit-form"> Send Message</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-muted">
                                        <strong>*</strong> These fields are required.
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>

        <div style="overflow:hidden;width: 100%;position: relative;">
            <iframe width="100%" height="440"
                src="https://maps.google.com/maps?width=100%&amp;height=440&amp;hl=en&amp;q=20%20Penn%20St%2C%20Baltimore%2C%20MD%2021201+(ComputChem)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div><br/>

    </div>
</div>

    <%- include ('./partials/scripts.ejs') %>
    <%- include ('./partials/footer.ejs') %>
    <script>
        $('.submit-form').click(function () {
            console.log("posted");
            const success = () => {
                $('#contact-form').css("display", "none")
                $('.thanks').css("display", "block")
            }
            $.ajax({
                type: 'POST',
                url: 'https://formspree.io/mlebvoke',
                //name=aetaet&_replyto=test%40gmail.com&_subject=test&message=test 
                data: {
                    name: $("#form_name").val(),
                    _replyto: $("#form_email").val(),
                    _subject: $("#form_subject").val(),
                    message: $("#form_message").val()
                },
                success: success()
            });
            return false;
        });
    </script>
</body>
</html>