<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('./partials/header.ejs') %>

    <title>Jana</title>
</head>

<body>
    <%- include ('./partials/navbar.ejs') %>
    <div class="container">
        <div class="card mb-3 mx-auto">
            <div class="row no-gutters">
                <div class="col-md-3 text-center">
                    <img src="/images/aboutjana.png" class="jana-img" alt="...">
                    <h5 class="mt-2">Jana Shen, Ph.D.</h5>
                    <p class="mb-2">Professor</p>
                    <p class="mb-2">Dept of Pharmaceutical Sciences
                        University of Maryland School of Pharmacy, Baltimore, MD</p>
                    <p class="degree">Dipl-Chem, Bergische Universität<br> Wuppertal, Germany</p>
                        <p class="degree">MS, University of Calgary, Canada</p>
                        <p class="degree">PhD, University of Minnesota</p>
                        <p class="degree">Postdoc, Scripps Research Institute, USA</p>
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">About</h5>
                        <p>Jana was born in Shanghai, China. She lived in several cities and graduated from Nantong High School in Jiangsu Province. After a two-year study at East China University of Science and Technology, she went to then West Germany to study chemistry and received Diplom Chemie from Bergische Universität Wuppertal in 1996. Her Diplom Arbeit was on ab initio relativistic calculation of a heavy-metal molecule under the direction of Bob Buenker. Jana started her PhD study in Tom Ziegler’s group at the University of Calgary in Canada, where she developed methods based on Density Functional theory for predicting NMR/EPR parameters of transition-metal complexes. She continued to pursue interest in electronic structure methods with Darrin York at University of Minnesota where she obtained PhD in 2003. A major topic of her dissertation was the implementation of continuum solvent models for semi-empirical quantum calculations. Following the PhD study, Jana ventured into biomolecular simulations and developed the continuous constant pH molecular dynamics technique under the direction of Charlie Brooks III at the Scripps Research Institute. Jana joined the faculty in the Department of Chemistry at University of Oklahoma in 2007 and moved to the Department of Pharmaceutical Sciences at University of Maryland School of Pharmacy in 2012. Together with the team members, Jana continues the adventure in developing simulation tools and uncovering physical chemical principles underlying biological processes and materials properties with the goal to accelerate biomedical discovery and materials innovation.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ('./partials/footer.ejs') %>
    <%- include ('./partials/scripts.ejs') %>


</body>

</html>