<html>

<head><%- include ('./partials/header.ejs') %>
    <script src="https://kit.fontawesome.com/4bdaa3b696.js" crossorigin="anonymous"></script>
    <title>Openings</title>
</head>
<%- include ('./partials/navbar.ejs') %>

<body class="openings">
    <div class="jumbotron openings-jumbo">
        <div class="container">
            <h2 class="display-5">Openings for Students and Postdoctoral Fellows</h2>
            <p >Shen Lab at University of Maryland is seeking self-motivated individuals interested in
                combining
                chemistry, biology, physics and computation to make an impact in biomedical discovery and materials
                innovation.</p>
        </div>
        
    </div>
    <div class="container openings-container">
        <div class="container">
            <h5>Example Projects</h5>
            <ul class="list-group">
                <li> Development/implementation of
                    constant pH molecular dynamics pK<sub>a</sub> and free energy calculations (covalent and noncovalent
                    inhibitor design)</li>
                <li>Rapid pKa and free energy calculations for covalent and reversible inhibitor design</li>
                <li>Simulations of pH-responsive
                    materials (novel hydrogels for bioelectronics)</li>
                <li> Inhibitor design targeting
                    proteases, kinases, and GPCRs (cancer and other diseases)</li>
                <li> Ion and substrate transport
                    through channels and transporters (cardiovascular disease, pain, and drug resistance)</li>
                <li></i> Machine learning assisted
                    property predictions </li>
            </ul>
            <h5 class="spec-title">Requirements</h5>
            <ul class="list-group">
                <li> Good physical chemistry
                    knowledge</li>
                <li> Skills in scripting and/or
                    programming (required for postdoc and desirable for PhD student candidate)</li>
                <li> Experience in molecular dynamics
                    simulations (required for postdoc and desirable for PhD student candidate)</li>
            </ul>
            <h5 class="spec-title">How To Apply</h5>
            <ul class="list-group">
                <li> Please send a cover letter and resume/CV to Dr. Jana Shen (<a href="mailto:jana.shen@rx.umaryland.edu">jana.shen@rx.umaryland.edu</a>) </li>
                <li> For graduate student applications, please also attach a GRE score report </li>
            </ul>
            <h5 class="spec-title">Graduate students can join the lab through the following programs</h5>
            <ul class="list-group">
                <li><a href="https://www.pharmacy.umaryland.edu/academics/psc/">PhD in Pharmaceutical Sciences (University of Maryland School of Pharmacy)</a></li>
                <li><a href="https://graduate.umaryland.edu/Program-Explorer/biochemistry/">PhD, MD/PhD in Biochemistry and Molecular Biology (University of Maryland School of Medicine)</a></li>
                <li><a href="https://bioe.umd.edu/graduate">PhD in Bioengineering (University of Maryland, College Park)</a></li>
            </ul>
            <h5 class="spec-title">Undergraduate students can join the lab through the following programs</h5>
            <ul class="list-group">
                <li><a href="https://www.pharmacy.umaryland.edu/admissions/psc/internship/">Pharmaceutical Sciences Summer Internship Program</a></li>
                <li>Direct hiring as Undergraduate Research Intern (full time in summer or up to 10 hours in semesters)</li>
                <li>High School Summer Students: please send a resume with objective to Dr. Shen</li>

            </ul>

        </div>
        <h4></h4>
    </div>



    <%- include ('./partials/scripts.ejs') %>
    <%- include ('./partials/footer.ejs') %>

</body>






</html>