<!-- Section: Team v.3 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
    <%- include ('./partials/header.ejs') %>
</head>
<%- include ('./partials/navbar.ejs') %>

<body>
    <h3 class="text-center contact-title red-color">Meet the Team</h3>

    <div class="container mt-3 mb-3">
        <!-- Section: Team v.2 -->
        <section class="team-section text-center">

            <!-- Section heading -->
            <!-- Grid row -->
            <div class="row justify-content-center">

                <!-- Grid column -->
                <div class="col-lg-3 col-xl-auto mb-md-0 mb-5">
                    <div style="width: 188px;" class="mx-auto">
                        <a href="/jana"><img src="/images/team/jana_team.png" style="width: 188px; height: 188px;"
                                class="rounded z-depth-1-half" alt="Sample avatar"></a>

                        <div class="description text-left">
                            <h6 class="dark-grey-text font-weight-bold mb-2 mt-3"> Jana Shen <a
                                href="mailto:jana.shen@rx.umaryland.edu"><i
                                    class="fas fa-envelope float-right"></i></a></h6>
                                        <h6 class="job-description">Principal Investigator </h6>
                            <!-- <p class="grey-text degree mb-1"></p>
                        <p class="degree mb-2">PhD Physical Chemistry, University of Minnesota -->
                        </div>
                    </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-3 col-xl-auto mb-md-0 mb-5">
                    <div style="width: 188px;" class="mx-auto">
                        <img src="/images/team/paween_team.jpg" style="width: 188px; height: 188px;"
                            class="rounded z-depth-1-half" alt="Sample avatar">
                        <div class="description text-left">
                            <h6 class="dark-grey-text font-weight-bold mb-2 mt-3"> Paween M. <a
                                href="mailto:pmahinth@rx.umaryland.edu"><i
                                    class="fas fa-envelope float-right"></i></a></h6>
                                        <h6 class="job-description"">FDA ORISE Fellow </h6>
                            <!-- <p class="grey-text degree mb-1"> FDA ORISE Fellow</p>
                        <p class="degree mb-2">PhD Biochemistry, University of Illinois, Urbana-Champaign</p> -->
                        </div>
                    </div>

                </div>

                <div class="col-lg-3 col-xl-auto mb-md-0 mb-5">
                    <div style="width: 188px;" class="mx-auto">
                        <img src="/images/team/quynh_team.jpg" style="width: 188px; height: 188px;"
                            class="rounded z-depth-1-half" alt="Sample avatar">
                        <div class="description text-left">
                            <h6 class="dark-grey-text font-weight-bold mb-2 mt-3"> Quynh Vo  <a
                                href="mailto:quynhuvo28@gmail.com"><i class="fas fa-envelope float-right"></i></a>
                            </h6>
                            <h6 class="job-description">FDA ORISE Fellow 
                            </h6>
                            <!-- <p class="grey-text degree mb-1"> FDA ORISE Fellow</p>
                        <p class="degree mb-2">PhD Chemical Engineering, University of California, Irvine</p> -->
                        </div>
                    </div>
                    </a>
                </div>

                <div class="col-lg-3 col-xl-auto mb-md-0 mb-5">
                    <div style="width: 188px;" class="mx-auto">
                        <img src="/images/team/RUIBINCROPPED.png" style="width: 188px; height: 188px;"
                            class="rounded z-depth-1-half" alt="Sample avatar">
                        <div class="description text-left">
                            <h6 class="dark-grey-text font-weight-bold mb-2 mt-3"> Ruibin Liu
                                <a href="mailto:rkasl@rx.umaryland.edu"><i class="fas fa-envelope float-right"></i></a>
                            </h6>
                            <h6 class="job-description">Postdoc Fellow
                               
                            </h6>
                            <!-- <p class="grey-text degree mb-1"> Senior system administrator</p>
                        <p class="degree">MS Philosophy, University of California Berkeley</p> -->
                        </div>
                    </div>

                </div>

                

                
                <!-- Grid column -->

                <!-- Grid column -->
                
                <!-- Grid column -->
                <!-- Grid column -->
                
                <!-- Grid column -->
                
            </div>
                <!-- Grid column -->


            <!-- Grid row -->

            <!-- Grid row -->
            <div class="row justify-content-center mt-3">

                <!-- Grid column -->
                <div class="col-lg-3 col-xl-auto mb-md-0 mb-5">
                    <div style="width: 188px;" class="mx-auto">
                        <img src="/images/team/EVM.png" style="width: 188px; height: 188px;"
                            class="rounded z-depth-1-half" alt="Sample avatar">
                        <div class="description text-left">
                            <h6 class="dark-grey-text font-weight-bold mb-2 mt-3">Erik Vazquez <a href="mailto:#"><i
                                class="fas fa-envelope float-right"></i></a></h6>
                                        <h6 class="job-description">Postdoc Fellow
                                            
                                        </h6>
                            <!-- <p class="grey-text degree float-left mb-1">Postdoctoral Fellow</p>
                            <p class="grey-text degree float-left mb-3">PhD, University of North Texas</p> -->
                        </div>
                    </div>

                </div>

                <div class="col-lg-3 col-xl-auto mb-md-0 mb-5">
                    <div style="width: 188px;" class="mx-auto">
                        <img src="/images/team/ShaoqiZhan.png" style="width: 188px; height: 188px;"
                            class="rounded z-depth-1-half" alt="Sample avatar">
                        <div class="description text-left">
                            <h6 class="dark-grey-text font-weight-bold mb-2 mt-3"> Shaoqi Zhan
                                <a href="szhan@rx.umaryland.edu"><i class="fas fa-envelope float-right"></i></a>
                            </h6>
                            <h6 class="job-description">Postdoc Fellow </h6>
                            <!-- <p class="grey-text degree mb-1"> Senior system administrator</p>
                        <p class="degree">MS Philosophy, University of California Berkeley</p> -->
                        </div>
                    </div>

                </div>

                <div class="col-lg-3 col-xl-auto mb-md-0 mb-5">
                    <div style="width: 188px;" class="mx-auto">
                        <img src="/images/team/Vincius.jpeg" style="width: 188px; height: 188px;"
                            class="rounded z-depth-1-half" alt="Sample avatar">
                        <div class="description text-left">
                            <h6 class="dark-grey-text font-weight-bold mb-2 mt-3"> Vinicius M. de Oliveira
                                <a href="vinicius.fis07@gmail.com"><i class="fas fa-envelope float-right"></i></a>
                            </h6>
                            <h6 class="job-description">Postdoc Fellow</h6>
                            <!-- <p class="grey-text degree mb-1"> Senior system administrator</p>
                        <p class="degree">MS Philosophy, University of California Berkeley</p> -->
                        </div>
                    </div>

                </div>

                <div class="col-lg-3 col-xl-auto mb-md-0 mb-5">
                    <div style="width: 188px;" class="mx-auto">
                        <img src="/images/team/jack_team.jpg" style="width: 188px; height: 188px;"
                            class="rounded z-depth-1-half" alt="Sample avatar">
                        <div class="description text-left">
                            <h6 class="dark-grey-text font-weight-bold mb-2 mt-3"> Jack Henderson <a
                                href="mailto:jack.henderson@umaryland.edu"><i
                                    class="fas fa-envelope float-right"></i></a></h6>
                                        <h6 class="job-description">PhD Student </h6>
                            <!-- <p class="grey-text degree mb-1"> PhD Student</p>
                        <p class="degree mb-2">BS Chemistry, University of Colorado at Denver</p> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mt-3">

                <!-- Grid column -->
                <div class="col-lg-3 col-xl-auto mb-md-0 mb-5">
                    <div style="width: 188px;" class="mx-auto">
                        <img src="/images/team/aarion.jpg" style="width: 188px; height: 188px;"
                            class="rounded z-depth-1-half" alt="Sample avatar">
                        <div class="description text-left">
                            <h6 class="dark-grey-text font-weight-bold mb-2 mt-3">Aarion Romany
                                <a href="mailto:ak.romany@gmail.com"><i
                                    class="fas fa-envelope float-right"></i></a>
                            </h6>
                            <h6 class="job-description">PhD Student 

                            </h6>
                            <!-- <p class="grey-text degree mb-3">PhD student</p> -->
                        </div>
                    </div>
                </div>
                

                <div class="col-lg-3 col-xl-auto mb-md-0 mb-5">
                    <div style="width: 188px;" class="mx-auto">
                        <img src="/images/team/daniel2.jpg" style="width: 188px; height: 188px;"
                            class="rounded z-depth-1-half" alt="Sample avatar">
                        <div class="description text-left">
                            <h6 class="dark-grey-text font-weight-bold mb-2 mt-3"> Daniel Khavrutskii  <a
                                href="mailto:danielkhv@umbc.edu"><i class="fas fa-envelope float-right"></i></a>
                            </h6>
                            <h6 class="job-description">Undergrad Research Intern
                               
                            </h6>
                            <!-- <p class="grey-text degree mb-1"> Undergrad Research Intern</p>
                            <p class="degree mb-2">BS Computer Science 2023, Univ. Maryland, Baltimore County</p> -->
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-3 col-xl-auto mb-md-0 mb-5">
                    <div style="width: 188px;" class="mx-auto">
                        <img src="/images/team/kevin.jpg" style="width: 188px; height: 188px;"
                            class="rounded z-depth-1-half" alt="Sample avatar">
                        <div class="description text-left">
                            <h6 class="dark-grey-text font-weight-bold mb-2 mt-3">Kevin Yang
                                <a href="mailto:ak.romany@gmail.com"><i
                                    class="fas fa-envelope float-right"></i></a>
                            </h6>
                            <h6 class="job-description">Undergrad Summer Intern

                            </h6>
                            <!-- <p class="grey-text degree mb-3">PhD student</p> -->
                        </div>
                    </div>
                </div>
                
                    
            </div>



            </div>

        </section>
    </div>
    <!-- Section: Team v.3 -->
    <div class="container wrapper-1">
        <h3 class="navy-blue">Visitors</h3>
        <ul class="list-group">
            <li class="list-group-item former-member">Prof. Shuhua Ma, Ph.D. | Sabbatical and summer visitor (2017-2025) | Towson
                University</li>
            <li class="list-group-item former-member">Prof. Yandong Huang, Ph.D. | Visiting scholar (2019-2020) | Jimei University,
                Xiamen, China</li>
        </ul>
        <h3 class="navy-blue">Former Members</h3>
        <div class="row">
            <div class="col-6">
                <ul class="list-group">
                    <li class="list-group-item former-member">Yuhang Wang, Ph.D. | Masters student (2009-2011) <p style="margin: 0">Currently: Senior Scientist
                        at QSimulate, Boston, MA</p></li>
                    <li class="list-group-item former-member">Jason Wallace, Ph.D. | PhD Student (2008-2012) <p style="margin: 0">Currently: Dentist, Bethany
                        Dental Group, Oklahoma City, Oklahoma</p></li>
                    <li class="list-group-item former-member">Chuanyin Shi, Ph.D. | Postdoc Fellow (2009-2011) <p style="margin: 0">Currently: Senior Research
                        Scientist,
                        Second Military Medical University, Shanghai, China</p></li>
                    <li class="list-group-item former-member">Yoann Cote, Ph.D.| Postdoc Fellow (2013-2013) <p style="margin: 0">Currently: Data Scientist at
                        GreenTropism, Paris, France</p></li>
                    <li class="list-group-item former-member">Brian Morrow, Ph.D. | Post-doc Fellow (2011-2015) <p style="margin: 0">Currently: Research Faculty
                        at
                        United States Naval Academy</p></li>
                        <li class="list-group-item former-member">Wei Chen, Ph.D. | Postdoc Fellow (2012-2016) <p style="margin: 0">Currently: Senior Scientist at
                            Schrödinger, New York City</p></li>
                </ul>
            </div>
            <div class="col-6">
                <ul class="list-group">
                    <li class="list-group-item former-member">Christopher Ellis, Ph.D. | Postdoc Fellow (2014-2016)  <p style="margin: 0">Currently: US Army Research Laboratory, Aberdeen Proving Ground, MD</p></li>
                    <li class="list-group-item former-member">Yandong Huang, Ph.D. | Postdoc Fellow (2014-2017)  <p style="margin: 0">Currently: Associate
                        Professor,
                        Jimei University, Xiamen, China</p></li>
                    <li class="list-group-item former-member">Zhi Yue, Ph.D. | PhD student (2012-2018)  <p style="margin: 0">Currently: Postdoctoral Associate at
                        University of Chicago</p></li>
                    <li class="list-group-item former-member">Cheng-Chieh (Kevin) Tsai, Ph.D. | PhD student (2014-2019)  <p style="margin: 0">Currently: Director
                        of Business Development at XtalPi
                        Cambridge, MA</p>
                    </li>
                    <li class="list-group-item former-member">Julie Harris, Ph.D. | Postdoc Fellow (2017-2020)  <p style="margin: 0">Currently: Principal Software Engineer
                        at Aerial Applications, Washington DC</p>
                    </li>
                    <li class="list-group-item former-member">Neha Verma, Ph.D. | Postdoc Fellow (2019-2020)<p style="margin: 0">Currently: Bioinformatics Scientist at Enzymaster
                    </p></li>
                </ul>        
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- Section: Team v.3 -->
    <%- include ('./partials/scripts.ejs') %>
    <%- include ('./partials/footer.ejs') %>
    <script>
        $('.row img').click(function () {
            let modalTitle = $('.modal-title');
            let modalBody = $('.modal-body');
            let source = this.src;
            console.log(source);

            if (source.includes("paween")) {
                modalTitle.text("Paween Mahinthichaichan");
                modalBody.html(
                    '<p>FDA ORISE Fellow</p> <p>PhD Biochemistry, University of Illinois, Urbana-Champaign</p>'
                    );
                $('#exampleModal').modal('toggle');
            }
            if (source.includes("jack")) {
                modalTitle.text("Jack Henderson");
                modalBody.html('<p>PhD Student</p> <p>BS Chemistry, University of Colorado at Denver</p>');
                $('#exampleModal').modal('toggle');
            }
            if (source.includes("neha")) {
                modalTitle.text("Neha Verma");
                modalBody.html(
                    '<p>Postdoctoral Fellow</p> <p>PhD Pharm Chemie, Universität Düsseldorf, Germany/p>');
                $('#exampleModal').modal('toggle');
            }
            if (source.includes("quynh")) {
                modalTitle.text("Quynh Vo");
                modalBody.html(
                    '<p>FDA ORISE Fellow</p> <p>PhD Chemical Engineering, University of California, Irvine</p>'
                    );
                $('#exampleModal').modal('toggle');
            }
            if (source.includes("daniel")) {
                modalTitle.text("Daniel Khavrutskii");
                modalBody.html(
                    '<p>Undergrad Research Intern</p> <p>BS Computer Science 2023, Univ. Maryland, Baltimore County</p>'
                    );
                $('#exampleModal').modal('toggle');
            }
            if (source.includes("EVM")) {
                modalTitle.text("Erik Vazquez");
                modalBody.html('<p>Postdoctoral Fellow</p> <p>PhD, University of North Texas</p>');
                $('#exampleModal').modal('toggle');
            }
            if (source.includes("aarion")) {
                modalTitle.text("Aarion Romany");
                modalBody.html(
                    '<p>PhD Student</p> <p>B.A Chemistry, Caldwell University');
                $('#exampleModal').modal('toggle');
            }
            if (source.includes("RUIBIN")) {
                modalTitle.text("Ruibin Liu");
                modalBody.html('<p>Postdoc Fellow</p><p>PhD chemistry, Duke University</p>');
                $('#exampleModal').modal('toggle');
            }
        });
    </script>


</body>

</html>