<!DOCTYPE html>
<html lang="en">
<head><%- include ('../partials/header.ejs') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Channels/Transporters</title>
</head>

<%- include ('../partials/navbar.ejs') %>

<body>
    <div class="container topics-container">
        <h3 class="text-center">Ion/Substrate Transport and GPCR Signaling
        </h3>
        <hr>
        <p>
            The extension of the hybrid-solvent CpHMD for transmembrane proteins has opened a door for obtaining
            previously unattainable insights into biological proton/ion transport. To pave the way, we demonstrated that
            CpHMD can directly reveal the atomic details of the pH-dependent conformational transitions of a proton
            channel, an antiporter, and a multi-drug efflux pump. Most recently, we have begun to explore the molecular mechanisms of ligand-receptor recognition and activation.
        </p>

        
        <div class="pub-block">
            <div class="group" style="display: flex;">
                            
                <div id="5f41b2aa12a3e80017199231" number="0" style="border-top: 1px solid rgba(0,0,0,.125) !important;" class="list-group-item list-group-item-action pub-link">
                    <div class="publication-link">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 pub-authors">Vo Q, Mahinthichaichan P, Shen J*, and Christopher R. Ellis*</h6>
                            <small class="text-muted pub-date">2021</small>
                        </div>
                        <h6 class="mb-1 pub-description"><b>How μ-opioid receptor recognizes fentanyl.</b></h6>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <div class="publication-link" href="https://pubmed.ncbi.nlm.nih.gov/32839778/">
                            <h6 class=" pub-title ">Nat Commun 12: 984, 2021 </h6>
                        </div>
                    </div>  
                    
                    <h6 class="pub-title" style="margin-bottom: 0 !important;"> <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7881245/" target="_blank"><span class="pub-a">PMCID:</span>
                            PMC7881245</a> <a href="https://www.nature.com/articles/s41467-021-21262-9" target="_blank"><span class="pub-a">DOI:</span> 10.1038/s41467-021-21262-9 </a>
                    </h6>
                     

                </div>
                
            </div>
            <div class="group" style="display: flex;">
                            
                <div id="5f5133f471ec440017b7d0ed" number="1" style="border-top: 1px solid rgba(0,0,0,.125) !important;" class="list-group-item list-group-item-action pub-link">
                    <div class="publication-link">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 pub-authors">Huang YD, Henderson JA and Shen J*</h6>
                            <small class="text-muted pub-date">2021</small>
                        </div>
                        <h6 class="mb-1 pub-description"><b>Continuous constant pH molecular dynamics of transmembrane proteins.</b></h6>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <div class="publication-link" href="#">
                            <h6 class=" pub-title ">Methods Mol Biol. in press, 2021 </h6>
                        </div>
                    </div>  
                    
                    <h6 class="pub-title" style="margin-bottom: 0 !important;"> <a href="#" target="_blank"><span class="pub-a">PMCID:</span>
                            None</a> <a href="https://www.biorxiv.org/content/10.1101/2020.08.06.239772v1" target="_blank"><span class="pub-a">DOI:</span> 10.1101/2020.08.06.239772 </a>
                    </h6>
                     

                </div>
                
            </div>
            <div class="group" style="display: flex;">
                <div style="border-top: 1px solid rgba(0,0,0,.125) !important;" style="border-radius: 0 !important;"
                    class="list-group-item list-group-item-action pub-link">
                    <div class="publication-link">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 pub-authors">Henderson JA, Beckstein O, and Shen J*</h6>
                            <small class="text-muted pub-date">2020</small>
                        </div>
                        <h6 class="mb-1 pub-description"><b>
                            Alternative proton-binding site and long-distance coupling in Escherichia coli sodium–proton antiporter NhaA.
                        </b></h6>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <div class="publication-link" href="#">
                            <h6 class=" pub-title ">Proc Natl Acad Sci USA, 117: 25517-25522, 2020</h6>
                        </div>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="pub-title" style="margin-bottom: 0 !important;"> <a
                                href="https://pubmed.ncbi.nlm.nih.gov/32973095/"><span
                                    class="pub-a">PMCID:</span>
                                    32973095</a> <a href="https://doi.org/10.1073/pnas.2005467117"><span
                                    class="pub-a">DOI:</span>10.1073/pnas.2005467117</a>
                        </h6>
                        <!-- <button data-toggle="collapse" style="z-index: 1000" data-target="#collapseExample1"
                            aria-expanded="false" class="btn btn-sm synopsis-btn">More</button> -->
                    </div>
                </div>
            </div>

            <div class="group" style="display: flex;">
                <div style="border-top: 1px solid rgba(0,0,0,.125) !important;" style="border-radius: 0 !important;"
                    class="list-group-item list-group-item-action pub-link">
                    <div class="publication-link">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 pub-authors">Shen J*</h6>
                            <small class="text-muted pub-date">2018</small>
                        </div>
                        <h6 class="mb-1 pub-description"><b>
                            Zooming in on a small multidrug transporter reveals details of asymmetric protonation.
                            </b></h6>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <div class="publication-link" href="#">
                            <h6 class=" pub-title ">Proc Natl Acad Sci USA 115: 8060-8062, 2018</h6>
                        </div>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="pub-title" style="margin-bottom: 0 !important;"> <a
                                href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc6094094/"><span
                                    class="pub-a">PMCID:</span>
                                    PMC6094094</a> <a href="https://doi.org/10.1073/pnas.1810814115"><span
                                    class="pub-a">DOI:</span> 10.1073/pnas.1810814115</a>
                        </h6>
                        <button data-toggle="collapse" style="z-index: 1000" data-target="#collapseExample1"
                            aria-expanded="false" class="btn btn-sm synopsis-btn">More</button>
                    </div>
                </div>
            </div>
            <div class="card abstract-card collapse" style="min-height: 0px; " id="collapseExample1">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <img class="pub-img" src="/images/Zooming.png"
                                style="object-fit:cover; width: 100%" alt="Card image cap">
                        </div>
                        <div class="col-lg-9">
                            <p style="font-size: 16px;" class="card-text pub-img-description">
                                Nature is efficient; why would it require two protons if one is enough to do the job? This commentary article discusses a recent computational work in the context of our current understanding of how proton translocation mediates the active transport of drugs and substrates across the biological membrane.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="group" style="display: flex;">
                <div style="border-top: 1px solid rgba(0,0,0,.125) !important;" style="border-radius: 0 !important;"
                    class="list-group-item list-group-item-action pub-link">
                    <div class="publication-link">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 pub-authors">Yue Z, Chen W, Zgurskaya, H, and Shen J*</h6>
                            <small class="text-muted pub-date">2017</small>
                        </div>
                        <h6 class="mb-1 pub-description"><b>
                            Constant pH molecular dynamics reveals how proton release drives the conformational transition
                            of a transmembrane efflux pump.
                            </b></h6>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <div class="publication-link" href="#">
                            <h6 class=" pub-title ">J Chem Theory Comput 13: 6405-6414, 2017</h6>
                        </div>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="pub-title" style="margin-bottom: 0 !important;"> <a
                                href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc5726904/"><span
                                    class="pub-a">PMCID:</span>
                                    PMC5726904</a> <a href="https://doi.org/10.1021/acs.jctc.7b00874"><span
                                    class="pub-a">DOI:</span> 10.1021/acs.jctc.7b00874</a>
                        </h6>
                        <button data-toggle="collapse" style="z-index: 1000" data-target="#collapseExample2"
                            aria-expanded="false" class="btn btn-sm synopsis-btn">More</button>
                    </div>
                </div>
            </div>
            <div class="card abstract-card collapse" style="min-height: 0px; " id="collapseExample2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <img class="pub-img" src="/images/Constant.png"
                                style="object-fit:cover; width: 100%" alt="Card image cap">
                        </div>
                        <div class="col-lg-9">
                            <p style="font-size: 16px;" class="card-text pub-img-description">
                                AcrB is the inner-membrane transporter of the AcrAB-TolC efflux complex in E. coli which confers resistance to antibiotics. Crystal structures have revealed three distinct states in the drug transport cycle; however, detailed mechanism remains unknown. Our study offered convincing support for the 1:1 drug:proton stoichiometry by depicting how proton release triggers the conformational transition, in agreement with the crystal structure.                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="group" style="display: flex;">
                <div style="border-top: 1px solid rgba(0,0,0,.125) !important;" style="border-radius: 0 !important;"
                    class="list-group-item list-group-item-action pub-link">
                    <div class="publication-link">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 pub-authors">Chen W, Huang YD, and Shen J</h6>
                            <small class="text-muted pub-date">2016</small>
                        </div>
                        <h6 class="mb-1 pub-description"><b>
                            Conformational activation of a transmembrane proton channel from constant pH molecular dynamics.
                            </b></h6>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <div class="publication-link" href="#">
                            <h6 class=" pub-title ">J Phys Chem Lett 7: 3961-3966, 2016</h6>
                        </div>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="pub-title" style="margin-bottom: 0 !important;"> <a
                                href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc5718886/"><span
                                    class="pub-a">PMCID:</span>
                                    PMC5718886</a> <a href="https://doi.org/10.1021/acs.jpclett.6b01853"><span
                                    class="pub-a">DOI:</span> 10.1021/acs.jpclett.6b01853</a>
                        </h6>
                        <button data-toggle="collapse" style="z-index: 1000" data-target="#collapseExample3"
                            aria-expanded="false" class="btn btn-sm synopsis-btn">More</button>
                    </div>
                </div>
            </div>
            <div class="card abstract-card collapse" style="min-height: 0px; " id="collapseExample3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <img class="pub-img" src="/images/Activation.png"
                                style="object-fit:cover; width: 100%" alt="Card image cap">
                        </div>
                        <div class="col-lg-9">
                            <p style="font-size: 16px;" class="card-text pub-img-description">
                                Proton-coupled transmembrane proteins play important roles in human health and diseases. We performed the first computer simulation that 1) directly describes the proton-coupled conformational activation of a transmembrane channel with fully atomic detail; 2) accurately determines the stepwise acid-base constants of a transmembrane channel; 3) provides the proton-coupled free energy of channel activation. The presented methodologies and major findings are generalizable for studies of proton-coupled channels and transporters.                        </div>
                    </div>
                </div>
            </div>

            <div class="group" style="display: flex;">
                <div style="border-top: 1px solid rgba(0,0,0,.125) !important;" style="border-radius: 0 !important;"
                    class="list-group-item list-group-item-action pub-link">
                    <div class="publication-link">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 pub-authors">Huang YD, Chen W, Dotson DL, Beckstein O, and Shen J*</h6>
                            <small class="text-muted pub-date">2016</small>
                        </div>
                        <h6 class="mb-1 pub-description"><b>
                            Mechanism of pH-dependent activation of the sodium-proton antiporter NhaA.                            </b></h6>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <div class="publication-link" href="#">
                            <h6 class=" pub-title ">Nat Commun 7: 12940, 2016</h6>
                        </div>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="pub-title" style="margin-bottom: 0 !important;"> <a
                                href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc5059715/"><span
                                    class="pub-a">PMCID:</span>
                                    PMC5059715</a> <a href="https://doi.org/10.1038/ncomms12940"><span
                                    class="pub-a">DOI:</span> 10.1038/ncomms12940</a>
                        </h6>
                        <button data-toggle="collapse" style="z-index: 1000" data-target="#collapseExample4"
                            aria-expanded="false" class="btn btn-sm synopsis-btn">More</button>
                    </div>
                </div>
            </div>
            <div class="card abstract-card collapse" style="min-height: 0px; " id="collapseExample4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <img class="pub-img" src="/images/topics/chan-trans/ct2.jpg"
                                style="object-fit:cover; width: 100%" alt="Card image cap">
                        </div>
                        <div class="col-lg-9">
                            <p style="font-size: 16px;" class="card-text pub-img-description">
                                Escherichia coli NhaA is a prototype sodium-proton antiporter, which has been extensively characterized by X-ray crystallography, biochemical and biophysical experiments. However, the identities of proton carriers and details of pH-regulated mechanism remain controversial. Here we report constant pH molecular dynamics data, which reveal that NhaA activation involves a net charge switch of a pH sensor at the entrance of the cytoplasmic funnel and opening of a hydrophobic gate at the end of the funnel. The latter is triggered by charging of Asp164, the first proton carrier.                     </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include ('../partials/footer.ejs') %>
    <%- include ('../partials/scripts.ejs') %>


</body>






</html>