<!DOCTYPE html>
<html lang="en">

<head><%- include ('../partials/header.ejs') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drug Design</title>
</head>
<%- include ('../partials/navbar.ejs') %>

<body>
    <div class="container topics-container">
        <h3 class="text-center">Enzyme Dynamics and Inhibition
        </h3>
        <hr>
        <p>
            We demonstrated that CpHMD can be used to significantly advance structure-based drug design, beyond
            pH-dependent structure-function relationships and protein-ligand binding.
        </p>

        <div class="pub-block">
            <div class="group" style="display: flex;">
                            
                <div id="5f87399fae9bab00176a2db4" number="2" style="border-top: 1px solid rgba(0,0,0,.125) !important;" class="list-group-item list-group-item-action pub-link">
                    <div class="publication-link">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 pub-authors">Ma S*, Henderson JA, and Shen J*</h6>
                            <small class="text-muted pub-date">2021</small>
                        </div>
                        <h6 class="mb-1 pub-description"><b>Exploring the pH-dependent structure-dynamics-function relationship of human renin.</b></h6>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <div class="publication-link" href="">
                            <h6 class=" pub-title ">J Chem Inf Model 61: 400-407, 2021 </h6>
                        </div>
                    </div>  
                    
                    <h6 class="pub-title" style="margin-bottom: 0 !important;"> <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7855609/" target="_blank"><span class="pub-a">PMCID:</span>
                            PMC7855609</a> <a href="https://doi.org/10.1021/acs.jcim.0c01201" target="_blank"><span class="pub-a">DOI:</span> 10.1021/acs.jcim.0c01201 </a>
                    </h6>
                     

                </div>
                
            </div>
            <div class="group" style="display: flex;">
                            
                <div id="5fc91ef7e15df92085ca87c8" number="3" style="border-top: 1px solid rgba(0,0,0,.125) !important;" class="list-group-item list-group-item-action pub-link">
                    <div class="publication-link">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 pub-authors">Verma N, Henderson JA, and Shen J*</h6>
                            <small class="text-muted pub-date">2020</small>
                        </div>
                        <h6 class="mb-1 pub-description"><b>Proton-Coupled Conformational Activation of SARS Coronavirus Main
Proteases and Opportunity for Designing Small-Molecule Broad-Spectrum
Targeted Covalent Inhibitors.</b></h6>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <div class="publication-link" href="">
                            <h6 class=" pub-title ">J Am Chem Soc 142: 21883–21890, 2020 </h6>
                        </div>
                    </div>  
                     
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="pub-title" style="margin-bottom: 0 !important;"> <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc7754784/" target="_blank"><span class="pub-a">PMCID:</span>
                                PMC7754784</a> <a href="https://doi.org/10.1021/jacs.0c10770" target="_blank"><span class="pub-a">DOI:</span> 10.1021/jacs.0c10770 </a>
                        </h6>
                            <a href="https://pubs.acs.org/doi/10.1021/jacs.9b13306" style="z-index: 1000" class="btn btn-sm synopsis-btn">JACS Spotlight</a>
                        </div>
                     

                </div>
                
            </div>
            <div class="group" style="display: flex;">
                <div style="border-top: 1px solid rgba(0,0,0,.125) !important;" style="border-radius: 0 !important;"
                    class="list-group-item list-group-item-action pub-link">
                    <div class="publication-link">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 pub-authors">Henderson JA, Verma N, and Shen J*</h6>
                            <small class="text-muted pub-date">2020</small>
                        </div>
                        <h6 class="mb-1 pub-description"><b>
                            Assessment of proton-coupled conformational dynamics of SARS and MERS coronavirus papain-like proteases: Implication for designing broad-spectrum antiviral inhibitors                            </b></h6>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <div class="publication-link" href="#">
                            <h6 class=" pub-title ">J Chem Phys, Special Issue “Classical Molecular Dynamics (MD) Simulations: Codes, Algorithms, Force Fields, and Applications”. In Press. Editor's Choice. AIP Press release, 2020</h6>
                        </div>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="pub-title" style="margin-bottom: 0 !important;"> <a
                                href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc7337382/"><span
                                    class="pub-a">PMCID:</span>
                                    PMC7337382</a> <a href="https://doi.org/10.1101/2020.06.30.181305"><span
                                    class="pub-a">DOI:</span> 10.1101/2020.06.30.181305</a>
                        </h6>
                        <button data-toggle="collapse" style="z-index: 1000" data-target="#collapseExample100"
                            aria-expanded="false" class="btn btn-sm synopsis-btn">More</button>
                    </div>
                </div>
            </div>
            <div class="card abstract-card collapse" style="min-height: 0px; " id="collapseExample100">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <img class="pub-img" src="/images/topics/drug/drug3.jpg" style="object-fit:cover; width: 100%"
                                alt="Card image cap">
                        </div>
                        <div class="col-lg-9">
                            <p style="font-size: 16px;" class="card-text pub-img-description">
                                Broad-spectrum antiviral drugs are urgently needed to stop the COVID-19 pandemic and prevent future ones. The novel severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2) is related to SARS-CoV and Middle East respiratory syndrome coronavirus (MERS-CoV), which have caused the previous outbreaks. The papain-like protease (PLpro) is an attractive drug target due to its essential roles in the viral life cycle. As a cysteine protease, PLpro is rich in cysteines and histidines and their protonation/deprotonation modulates catalysis and conformational plasticity. Here we report the pK a calculations and assessment of the proton-coupled conformational dynamics of SARS-CoV-2 in comparison to SARS-CoV and MERS-CoV PLpros using a newly developed GPU-accelerated implicit-solvent continuous constant pH molecular dynamics method with an asynchronous replica-exchange scheme. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="group" style="display: flex;">
                <div style="border-top: 1px solid rgba(0,0,0,.125) !important;" style="border-radius: 0 !important;"
                    class="list-group-item list-group-item-action pub-link">
                    <div class="publication-link">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 pub-authors">Harris RC, Liu R, and Shen J*</h6>
                            <small class="text-muted pub-date">2020</small>
                        </div>
                        <h6 class="mb-1 pub-description"><b>
                            Predicting reactive cysteines with implicit-solvent based continuous constant pH molecular dynamics in Amber.
                            </b></h6>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <div class="publication-link" href="#">
                            <h6 class=" pub-title ">J Chem Theory Comput 16: 3689-3698, 2020</h6>
                        </div>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="pub-title" style="margin-bottom: 0 !important;"> <a href="https://doi.org/10.1021/acs.jctc.0c00258"><span
                                    class="pub-a">DOI:</span> 10.1021/acs.jctc.0c00258</a>
                        </h6>
                        <button data-toggle="collapse" style="z-index: 1000" data-target="#collapseExample101"
                            aria-expanded="false" class="btn btn-sm synopsis-btn">More</button>
                    </div>
                </div>
            </div>
            <div class="card abstract-card collapse" style="min-height: 0px; " id="collapseExample101">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <p style="font-size: 16px;" class="card-text pub-img-description">
                                Cysteines existing in the deprotonated thiolate form or having a tendency to become deprotonated are important players in enzymatic and cellular redox functions and frequently exploited in covalent drug design; however, most computational studies assume cysteines as protonated. Thus, developing an efficient tool that can make accurate and reliable predictions of cysteine protonation states is timely needed. We recently implemented a generalized Born (GB) based continuous constant pH molecular dynamics (CpHMD) method in Amber for protein pKa calculations on CPUs and GPUs. Here we benchmark the performance of GB-CpHMD for predictions of cysteine pKa's and reactivities using a data set of 24 proteins with both down- and upshifted cysteine pKa's. We found that 10 ns single-pH or 4 ns replica-exchange CpHMD titrations gave root-mean-square errors of 1.2-1.3 and correlation coefficients of 0.8-0.9 with respect to experiment.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group" style="display: flex;">
                <div style="border-top: 1px solid rgba(0,0,0,.125) !important;" style="border-radius: 0 !important;"
                    class="list-group-item list-group-item-action pub-link">
                    <div class="publication-link">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 pub-authors">Tsai CC, Yue Z, and Shen J*</h6>
                            <small class="text-muted pub-date">2019</small>
                        </div>
                        <h6 class="mb-1 pub-description"><b>
                                How electrostatic coupling enables conformational plasticity in a tyrosine kinase.
                            </b></h6>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <div class="publication-link" href="#">
                            <h6 class=" pub-title ">J Am Chem Soc 141: 15092-15101, 2019</h6>
                        </div>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="pub-title" style="margin-bottom: 0 !important;"> <a
                                href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc6933753/"><span
                                    class="pub-a">PMCID:</span>
                                PMC6933753</a> <a href="https://doi.org/10.1021/jacs.9b06064"><span
                                    class="pub-a">DOI:</span> 10.1021/jacs.9b06064</a>
                        </h6>
                        <button data-toggle="collapse" style="z-index: 1000" data-target="#collapseExample1"
                            aria-expanded="false" class="btn btn-sm synopsis-btn">More</button>
                    </div>
                </div>
            </div>
            <div class="card abstract-card collapse" style="min-height: 0px; " id="collapseExample1">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <img class="pub-img" src="/images/Electrostatic.png" style="object-fit:cover; width: 100%"
                                alt="Card image cap">
                        </div>
                        <div class="col-lg-9">
                            <p style="font-size: 16px;" class="card-text pub-img-description">
                                The ability to predictively model various conformational states could accelerate
                                selectivity inhibitor design. We present, to our best knowledge, the first predictive
                                computational study that captured the four major types of kinase conformations starting
                                from a single crystal structure without employing a target structure, mutation, or bias.
                                Our data revealed, for the first time, how protonation state changes of key residues
                                facilitate the conformational transitions, providing a direct support and explanation
                                for a long-standing hypothesis regarding the protonation-dependent DFG flip. Our
                                simulations also uncovered intermediate states, among which a unique inactive state,
                                which can be tested in selective inhibitor design.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="group" style="display: flex;">
                <div style="border-top: 1px solid rgba(0,0,0,.125) !important;" style="border-radius: 0 !important;"
                    class="list-group-item list-group-item-action pub-link">
                    <div class="publication-link">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 pub-authors">Liu R, Yue Z, Tsai CC, and Shen J*</h6>
                            <small class="text-muted pub-date">2019</small>
                        </div>
                        <h6 class="mb-1 pub-description"><b>
                                Assessing lysine and cysteine reactivities for designing targeted covalent kinase
                                inhibitors. </b></h6>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <div class="publication-link" href="#">
                            <h6 class=" pub-title ">J Am Chem Soc 141: 6553-6560, 2019</h6>
                        </div>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="pub-title" style="margin-bottom: 0 !important;"> <a
                                href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc6935298/"><span
                                    class="pub-a">PMCID:</span>
                                PMC6935298 </a> <a href="https://doi.org/10.1021/jacs.8b13248"><span
                                    class="pub-a">DOI:</span> 10.1021/jacs.8b13248</a>
                        </h6>
                        <button data-toggle="collapse" style="z-index: 1000" data-target="#collapseExample2"
                            aria-expanded="false" class="btn btn-sm synopsis-btn">More</button>
                    </div>
                </div>
            </div>
            <div class="card abstract-card collapse" style="min-height: 0px; " id="collapseExample2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <img class="pub-img" src="/images/Accelerating.png" style="object-fit:cover; width: 100%"
                                alt="Card image cap">
                        </div>
                        <div class="col-lg-9">
                            <p style="font-size: 16px;" class="card-text pub-img-description">
                                We present a computational tool to assess the nucleophilicities of lysines and cysteines
                                to accelerate covalent drug design. The tool enabled us to discover that kinases in a
                                rare inactive conformation can be covalently targeted at catalytic lysines. A new
                                strategy for designing highly selective, lysine-targeted covalent kinase inhibitors was
                                proposed to address the emergent drug resistance issue facing the cysteine-targeted
                                strategy and help usher in the next generation covalent kinase inhibitor design. </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="group" style="display: flex;">
                <div style="border-top: 1px solid rgba(0,0,0,.125) !important;" style="border-radius: 0 !important;"
                    class="list-group-item list-group-item-action pub-link">
                    <div class="publication-link">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 pub-authors">Henderson JA, Harris RC, Tsai CC, and Shen J*</h6>
                            <small class="text-muted pub-date">2018</small>
                        </div>
                        <h6 class="mb-1 pub-description"><b>
                                How ligand protonation proton state controls water in protein-ligand binding. </b>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <div class="publication-link" href="#">
                            <h6 class=" pub-title ">J Phys Chem Lett 9: 5440-5444, 2018</h6>
                        </div>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="pub-title" style="margin-bottom: 0 !important;"> <a
                                href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc6467052/"><span
                                    class="pub-a">PMCID:</span>
                                PMC6467052 </a> <a href="https://doi.org/10.1021/acs.jpclett.8b02440"><span
                                    class="pub-a">DOI:</span> 10.1021/acs.jpclett.8b02440</a>
                        </h6>
                        <button data-toggle="collapse" style="z-index: 1000" data-target="#collapseExample3"
                            aria-expanded="false" class="btn btn-sm synopsis-btn">More</button>
                    </div>
                </div>
            </div>
            <div class="card abstract-card collapse" style="min-height: 0px; " id="collapseExample3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <img class="pub-img" src="/images/Ligand.png" style="object-fit:cover; width: 100%"
                                alt="Card image cap">
                        </div>
                        <div class="col-lg-9">
                            <p style="font-size: 16px;" class="card-text pub-img-description">
                                The role of water in protein-ligand has been intensely studied in recent years; however,
                                how ligand protonation state change perturbs water has not been investigated. Here we
                                use two homologues aspartyl proteases to illustrate how modeling protein-ligand binding
                                while allowing ligand titration can further advance our understanding of the role of
                                water in modulating the inhibitor selectivity for a particular target.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="group" style="display: flex;">
                <div style="border-top: 1px solid rgba(0,0,0,.125) !important;" style="border-radius: 0 !important;"
                    class="list-group-item list-group-item-action pub-link">
                    <div class="publication-link">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 pub-authors">Huang YD, Yue Z, Tsai CC, Henderson JA, and Shen J*</h6>
                            <small class="text-muted pub-date">2018</small>
                        </div>
                        <h6 class="mb-1 pub-description"><b>
                                Predicting catalytic proton donors and nucleophiles in enzymes: how adding dynamics
                                helps elucidate the structure-function relationships. </b>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <div class="publication-link" href="#">
                            <h6 class=" pub-title ">J Phys Chem Lett 9: 1179-1184, 2018</h6>
                        </div>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="pub-title" style="margin-bottom: 0 !important;"> <a
                                href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc6555141/"><span
                                    class="pub-a">PMCID:</span>
                                PMC6555141 </a> <a href="https://doi.org/10.1021/acs.jpclett.8b00238"><span
                                    class="pub-a">DOI:</span> 10.1021/acs.jpclett.8b00238</a>
                        </h6>
                        <button data-toggle="collapse" style="z-index: 1000" data-target="#collapseExample4"
                            aria-expanded="false" class="btn btn-sm synopsis-btn">More</button>
                    </div>
                </div>
            </div>
            <div class="card abstract-card collapse" style="min-height: 0px; " id="collapseExample4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <img class="pub-img" src="/images/Predicting.png" style="object-fit:cover; width: 100%"
                                alt="Card image cap">
                        </div>
                        <div class="col-lg-9">
                            <p style="font-size: 16px;" class="card-text pub-img-description">
                                Despite the importance, prediction of catalytic proton donors and nucleophiles has
                                remained an unsolved problem. Here we tested three types of state-of-the-art
                                computational methods to predict the pKa’s of buried and coupled carboxyl dyads in
                                enzymes. We asked the question what makes a residue proton donor vs. nucleophile. Our
                                study revealed a surprisingly simple trend, which is not apparent from crystal
                                structures, empirical or traditional pKa calculations.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="group" style="display: flex;">
                <div style="border-top: 1px solid rgba(0,0,0,.125) !important;" style="border-radius: 0 !important;"
                    class="list-group-item list-group-item-action pub-link">
                    <div class="publication-link">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 pub-authors">Harris RC, Tsai CC, Ellis CR, Shen J*</h6>
                            <small class="text-muted pub-date">2017</small>
                        </div>
                        <h6 class="mb-1 pub-description"><b>
                                Proton-coupled conformational allostery modulates the inhibitor selectivity for
                                β-secretase. </b>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <div class="publication-link" href="#">
                            <h6 class=" pub-title ">J Phys Chem Lett 8: 4832-4837, 2017</h6>
                        </div>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="pub-title" style="margin-bottom: 0 !important;"> <a
                                href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc5713904/"><span
                                    class="pub-a">PMCID:</span>
                                PMC5713904 </a> <a href="https://doi.org/10.1021/acs.jpclett.7b02309"><span
                                    class="pub-a">DOI:</span> 10.1021/acs.jpclett.7b02309</a>
                        </h6>
                        <button data-toggle="collapse" style="z-index: 1000" data-target="#collapseExample5"
                            aria-expanded="false" class="btn btn-sm synopsis-btn">More</button>
                    </div>
                </div>
            </div>
            <div class="card abstract-card collapse" style="min-height: 0px; " id="collapseExample5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <img class="pub-img" src="/images/Proton.png" style="object-fit:cover; width: 100%"
                                alt="Card image cap">
                        </div>
                        <div class="col-lg-9">
                            <p style="font-size: 16px;" class="card-text pub-img-description">
                                Many pharmaceutical targets, such as aspartyl proteases and kinases, exhibit
                                pH-dependent dynamics and functions. Accurate prediction of their binding free energies
                                is challenging, and current computational studies neglect the effects of pH and changes
                                in protonation states. We demonstrated a new protocol to improve the predictive power of
                                current binding free energy calculations. The allosteric mechanism discovered here could
                                lead to exciting opportunities in drug design.
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="group" style="display: flex;">
                <div style="border-top: 1px solid rgba(0,0,0,.125) !important;" style="border-radius: 0 !important;"
                    class="list-group-item list-group-item-action pub-link">
                    <div class="publication-link">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 pub-authors">Ellis CR, Tsai CC, Lin FY, and Shen J*</h6>
                            <small class="text-muted pub-date">2017</small>
                        </div>
                        <h6 class="mb-1 pub-description"><b>
                                Conformational dynamics of cathepsin D and binding to a small-molecule BACE1 inhibitor.</b></h6>
                                <div class="d-flex w-100 justify-content-between">
                                    <div class="publication-link" href="#">
                                        <h6 class=" pub-title ">J Comput Chem 38: 1260-1269, 2017</h6>
                                    </div>
                                </div>
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="pub-title" style="margin-bottom: 0 !important;"> <a
                                            href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc5403572/"><span
                                                class="pub-a">PMCID:</span>
                                            PMC5403572 </a> <a href="https://doi.org/10.1002/jcc.24719"><span
                                                class="pub-a">DOI:</span> 10.1002/jcc.24719</a>
                                    </h6>
                                    <button data-toggle="collapse" style="z-index: 1000" data-target="#collapseExample6"
                                        aria-expanded="false" class="btn btn-sm synopsis-btn">More</button>
                                </div>
                    </div>
                </div>
                
            </div>
            <div class="card abstract-card collapse" style="min-height: 0px; " id="collapseExample6">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <img class="pub-img" src="/images/Conformational.png"
                                style="object-fit:cover; width: 100%" alt="Card image cap">
                        </div>
                        <div class="col-lg-9">
                            <p style="font-size: 16px;" class="card-text pub-img-description">
                                Targeting the aspartyl protease BACE1 with small-molecule inhibitors offers a
                                promising route for treatment of Alzheimer's disease. However, developing inhibitors
                                that can selectively target BACE1 in favor of other proteases, especially cathepsin
                                D, has presented significant challenges. We reported the first computational study
                                that characterizes the conformational dynamics of capthesin D and how it binds a
                                BACE1 small-molecule inhibitor.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="group" style="display: flex;">
                <div style="border-top: 1px solid rgba(0,0,0,.125) !important;" style="border-radius: 0 !important;"
                    class="list-group-item list-group-item-action pub-link">
                    <div class="publication-link">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 pub-authors">Ellis CR, Tsai CC, Hou XJ, and Shen J*</h6>
                            <small class="text-muted pub-date">2016</small>
                        </div>
                        <h6 class="mb-1 pub-description"><b>
                            Constant pH molecular dynamics reveals pH-modulated binding of two small-molecule BACE1
                            inhibitors.</b></h6>
                                <div class="d-flex w-100 justify-content-between">
                                    <div class="publication-link" href="#">
                                        <h6 class=" pub-title ">J Phys Chem Lett 7: 944-949, 2016</h6>
                                    </div>
                                </div>
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="pub-title" style="margin-bottom: 0 !important;"> <a
                                            href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc5713896/"><span
                                                class="pub-a">PMCID:</span>
                                                PMC5713896 </a> <a href="https://doi.org/10.1021/acs.jpclett.6b00137"><span
                                                class="pub-a">DOI:</span> 10.1021/acs.jpclett.6b00137</a>
                                    </h6>
                                    <button data-toggle="collapse" style="z-index: 1000" data-target="#collapseExample7"
                                        aria-expanded="false" class="btn btn-sm synopsis-btn">More</button>
                                </div>
                    </div>
                </div>
                
            </div>
            <div class="card abstract-card collapse" style="min-height: 0px; " id="collapseExample7">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <img class="pub-img" src="/images/topics/drug/drug1.jpg"
                                style="object-fit:cover; width: 100%" alt="Card image cap">
                        </div>
                        <div class="col-lg-9">
                            <p style="font-size: 16px;" class="card-text pub-img-description">
                                Targeting β-secretase (BACE1) with small-molecule inhibitors offers a promising route for treatment of Alzheimer's disease. However, the intricate pH dependence of BACE1 function and inhibitor efficacy has posed major challenges for structure-based drug design. Here we investigate two structurally similar BACE1 inhibitors that have dramatically different inhibitory activity using continuous constant pH molecular dynamics (CpHMD). At high pH, both inhibitors are stably bound to BACE1; however, within the enzyme active pH range, only the iminopyrimidinone-based inhibitor remains bound, while the aminothiazine-based inhibitor becomes partially dissociated following the loss of hydrogen bonding with the active site and change of the 10s loop conformation.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="group" style="display: flex;">
                <div style="border-top: 1px solid rgba(0,0,0,.125) !important;" style="border-radius: 0 !important;"
                    class="list-group-item list-group-item-action pub-link">
                    <div class="publication-link">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 pub-authors">Ellis CR and Shen J*</h6>
                            <small class="text-muted pub-date">2015</small>
                        </div>
                        <h6 class="mb-1 pub-description"><b>
                            pH-dependent population shift regulates BACE1 activity and inhibition.</b></h6>
                                <div class="d-flex w-100 justify-content-between">
                                    <div class="publication-link" href="#">
                                        <h6 class=" pub-title ">J Am Chem Soc 137: 9543-9546, 2015</h6>
                                    </div>
                                </div>
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="pub-title" style="margin-bottom: 0 !important;"> <a
                                            href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmc4697946/"><span
                                                class="pub-a">PMCID:</span>
                                                PMC4697946 </a> <a href="https://doi.org/10.1021/jacs.5b05891"><span
                                                class="pub-a">DOI:</span> 10.1021/jacs.5b05891</a>
                                    </h6>
                                    <button data-toggle="collapse" style="z-index: 1000" data-target="#collapseExample8"
                                        aria-expanded="false" class="btn btn-sm synopsis-btn">More</button>
                                </div>
                    </div>
                </div>
                
            </div>
            <div class="card abstract-card collapse" style="min-height: 0px; " id="collapseExample8">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <img class="pub-img" src="/images/topics/drug/drug2.jpg"
                                style="object-fit:cover; width: 100%" alt="Card image cap">
                        </div>
                        <div class="col-lg-9">
                            <p style="font-size: 16px;" class="card-text pub-img-description">
                                BACE1, a major therapeutic target for treatment of Alzheimer's disease, functions within a narrow pH range. Despite tremendous effort and progress in the development of BACE1 inhibitors, details of the underlying pH-dependent regulatory mechanism remain unclear. Here we elucidate the pH-dependent conformational mechanism that regulates BACE1 activity using continuous constant-pH molecular dynamics (MD). The simulations reveal that BACE1 mainly occupies three conformational states and that the relative populations of the states shift according to pH.                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

        <%- include ('../partials/footer.ejs') %>
        <%- include ('../partials/scripts.ejs') %>


</body>






</html>